*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.wrapper{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 350px;
}

#box{
    width:100%;
    height:300px;
    background-color: grey;
    margin-bottom: 2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #202020;
    font-size: 25px;
}

.sliders input{
    width:100%;
    margin-bottom: 1rem;
}