*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color: #303644;
    width: 80vw;
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    align-items:center;
    margin:0 auto;
}

.wrapper{
    perspective: 1200px;
}

.wrapper:first-child .cube{
    animation: rotateYAxis 5s infinite;
    transform: rotateX(-35deg) rotateY(-10deg)
}

.wrapper:last-child .cube{
    animation: rotateXAxis 5s infinite;
    transform: rotateX(65deg) rotateY(-15deg) rotate(35deg)
}

.cube{
    position:relative;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
}

.cube div{
    width:100%;
    height:100%;
    position:absolute;
    display:grid;
    grid-template-columns: repeat(3, auto);
    opacity: .9;
}

.cube div span{
    width:100%;
    height:100%;
    border: 2px solid #fafafa;
}

.front{
    transform: rotateX(0deg) translateZ(125px);
    background-color: #fa5252 ;
}

.back{
    transform: rotateX(-180deg) translateZ(125px);
    background-color: #f76707;
}

.top{
    transform: rotateX(90deg) translateZ(125px);
    background-color: #fab005;
}

.bottom{
    transform: rotateX(-90deg) translateZ(125px);
    background-color: #7950f2;
}

.left{
    transform: rotateY(90deg) translateZ(125px);
    background-color: #4c6ef5;
}

.right{
    transform: rotateY(-90deg) translateZ(125px);
    background-color: #12b886;
}

@keyframes rotateYAxis{
    0%{
        transform: rotateX(-35deg) rotateY(-10deg)
    }

    25%{
        transform: rotateX(-35deg) rotateY(-100deg)
    }

    50%{
        transform: rotateX(-35deg) rotateY(-190deg)
    }

    75%{
        transform: rotateX(-35deg) rotateY(-280deg)
    }

    100%{
        transform: rotateX(-35deg) rotateY(-370deg)
    }
}

@keyframes rotateXAxis{
    0%{
        transform: rotateX(65deg) rotateY(-15deg) rotate(35deg)
    }

    25%{
        transform: rotateX(155deg) rotateY(-15deg) rotate(35deg)
    }

    50%{
        transform: rotateX(245deg) rotateY(-15deg) rotate(35deg)
    }

    75%{
        transform: rotateX(335deg) rotateY(-15deg) rotate(35deg)
    }

    100%{
        transform: rotateX(425deg) rotateY(-15deg) rotate(35deg)
    }
}