*{
    padding:0;
    margin:0;
    box-sizing:border-box
}

.wrapper{
    width: 960px;
    height: 660px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:grid;
    grid-gap: 7px;
    grid-template-rows: 10% 80% 10%;
}

.header{
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 7px;
}

.site-title{
    background-color: #fdd533;
}

.navs{
    display:grid;
    grid-gap: 7px;
    grid-template-columns: repeat(3, auto);
}

.navs div{
    background-color: #f6c0ca;
}

/* mid */

.mid{
    display:grid;
    grid-gap: 7px;
    grid-template-columns: 75% 25%;
}

.col-1{
    display:grid;
    grid-gap: 7px;
    grid-template-rows: 15% 85%;
}

.col-1 div{
    max-height:99.3%;
    max-width:99.5%;
}

.col-2 div{
    max-width: 96%
}

.post-title{
    background-color: #b0d9e6;
}

.col-1 .content{
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 25% 75%;
}

.post-meta{
    background-color: #97ed94;
}

.main{
    display:grid;
    grid-gap: 7px;
    grid-template-rows: repeat(2, auto);
}

.main-content{
    background-color: #d3d3d3;
}

.main-content-image{
    background-color: #fff837;
}

.col-2{
    display:grid;
    grid-gap: 7px;
    grid-template-rows: repeat(2, auto);
}

.sidebar{
    background-color: #f6a94b;
}

.ads{
    background-color: #3a7f12;
}

.other{
    background-color: #dd5ff9;
}

.footer{
    background-color: #a08980;
}